:root {
    font-size: calc(0.5rem + 1vw);
    --c-dark-gray: #353738;
    --c-gray: #848789;
    --c-dark-white: #f7f7f7;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: var(--c-gray);
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1090px;
    margin: 0 auto;
    padding: 2em;
}
.item__icon {
    display: block;
    margin: 0 auto;
}
.item__title {
    color: var(--c-dark-gray);
}
.item__title,
.item__text {
    text-align: center;
    font-size: 0.75rem;
}

/*--------------------------   HEADER   ------------------------------------*/

.header {
    height: 100vh;
    
    background-image: url('../image/header-bg.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.logo {
    text-align: center;
    padding: 2em;
}

/*--------------------------   NAV   ------------------------------------*/

.navigation {
    position: absolute;
    padding-top: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation li {
    margin: 0.75em;
}
.item-navigation__dot {
    margin: 3em;
}
.navigation a {
    font-size: 0.55rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #4d4959;
    padding: 0.5em 1em;
}

/*--------------------------   ABOUT   ------------------------------------*/

.about {
    padding-top: 2.85em;
    padding-bottom: 2.85em;
    background-color: var(--c-dark-white);
}
.about__title {
    text-transform: uppercase;
    margin: 1.9em;
}

/*--------------------------   WORK   ------------------------------------*/

.work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.item-work {
    min-height: calc(100vw / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-work_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.item-work_logo img {
    margin: 1em;
    transition: 0.5s;
}
.item-work_logo:hover img {
    transform: scale(1.1);
}
.item-work:nth-child(1),
.item-work:nth-child(4),
.item-work:nth-child(5),
.item-work:nth-child(7) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.item-work:nth-child(1),
.item-work:nth-child(4) {
    grid-column: span 2;
}
.item-work:nth-child(1) {
    background-image: url('../image/work/bg1.webp');
}
.item-work:nth-child(4) {
    background-image: url('../image/work/bg4.webp');
}
.item-work:nth-child(5) {
    background-image: url('../image/work/bg5.webp');
}
.item-work:nth-child(7) {
    background-image: url('../image/work/bg7.webp');
}
.item-work__content {
    padding: 2.9em 2.9em 2.25em;
    position: relative;
}
.item-work__content::before {
    content: "";
    position: absolute;
    bottom: -0.9em;
    left: calc(50% - 0.5em);
    border: 0.5em solid transparent;
    border-top: 0.5em solid #fff;
}
.contet-work__title {
    margin: 1.65em;
}
.contet-work__text {
    text-align: justify;
}
.content-work__line {
    display: block;
    width: 2em;
    height: 1px;
    background-color: var(--c-gray);

    margin: 1.75em auto 0;
}
.item-work__image {
    width: 100%;
}

/*--------------------------   TWITTER   ------------------------------------*/

.twitter {
    background-color: var(--c-dark-white);
}
.twitter__icon {
    fill: #56c7ee;
    width: 2em;
    margin: 0 auto;
    padding: 3em 0 1em;
}
.slider__slide__text {
    font-size: 1rem;
    font-style: italic;
}
.slider__slide {
    display: none;
    transition: 3s;
    opacity: 0;
}
.slider__slide_active {
    display: block;
}
.slider__controls {
    margin: 4em 0 3em;
    text-align: center;
}
.slider__dots {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border: 1px solid var(--c-gray);
    border-radius: 50%;
    margin: 0 0.25em;
    cursor: pointer;
}
.slider__dots_active,
.slider__dots:hover {
    background-color: var(--c-gray);
}

/*--------------------------   SHOP   ------------------------------------*/

.shop__images {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-flow: dense;
}
.item-shop {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vw / 6);
    transition: 0.5s;
}
.item-shop:nth-child(1) {
    background-image: url('../image/shop/bg1.webp');
}
.item-shop:nth-child(2) {
    background-image: url('../image/shop/bg2.webp');
}
.item-shop:nth-child(3) {
    background-image: url('../image/shop/bg3.webp');
}
.item-shop:nth-child(4) {
    background-image: url('../image/shop/bg4.webp');
}
.item-shop:nth-child(5) {
    background-image: url('../image/shop/bg5.webp');
}
.item-shop:nth-child(6) {
    background-image: url('../image/shop/bg6.webp');
}
.item-shop:nth-child(7) {
    background-image: url('../image/shop/bg7.webp');
}
.item-shop:nth-child(8) {
    background-image: url('../image/shop/bg8.webp');
}
.item-shop_long {
    grid-column: span 2;
}
.item-shop_tall {
    grid-row: span 2;
}
.item-shop a {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 0.3s;
}
.item-shop:hover a {
    background-color: rgba(100, 194, 158, 0.8);
    background-image: url('../image/shop/shop-now.png');
    
}

.shop__link {
    background-color: var(--c-dark-gray);
    text-align: center;
}
.shop__link__button {
    position: relative;
    display: inline-block;
    font-size: 0.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid var(--c-gray);
    padding: 1.2em 4em;
    margin: 5em auto;
    overflow: hidden;
    z-index: 1;
}
.shop__link__button::before,
.shop__link__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -115%;
    width: 110%;
    height: 100%;
    background-color: var(--c-gray);
    opacity: 0.5;
    transition: .3s;
    z-index: -1;
    transform: skewX(20deg);
}
.shop__link__button::after {
    opacity: 1;
    transition-delay: .2s;
}
.shop__link__button:hover::before,
.shop__link__button:hover::after {
   left: -5%;
}

/*--------------------------   CONTACT   ------------------------------------*/

.contact {
    text-align: center;
}
.contact__title {
    padding: 4.5em 2em 1em;
}
.contact__heading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;

    margin: 1.5em 0 0.5em;
}
.contact__mail {
    margin-bottom: 4.5em;
}
.contact__form {
    display: flex;
    justify-content: center;
    grid-gap: 0.5em;
}
.contact__form-mail {
    font-size: 0.8rem;
    font-style: italic;
    padding: 1em;
    opacity: 0.5;
    border: 1px solid var(--c-gray);
    width: 20em;
}
.contact__button {
    position: relative;
    overflow: hidden;
}
.contact__button_go {
    font-size: 1rem;
    color: #fff;
    background-color: rgb(100, 194, 158);
    border: none;
    padding: 1em 1.5em;
    cursor: pointer;
}
.contact__button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 2.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: skewX(20deg);
    transition: 0.5s;
}
.contact__button:hover::after {
    left: 150%;
}

/*--------------------------   CONTACT   ------------------------------------*/

.footer {
    background-color: var(--c-dark-white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 4em;
}
.footer__title {
    font-size: 0.65rem;
    margin: 0;
}
.footer__info p {
    font-size: 0.6rem;
    font-style: italic;
    margin: 0;
}
.footer__social {
    display: flex;
}
.item-social {
    margin: 0.5em;
}


@media screen and (max-width: 900px) {
    :root {
        font-size: calc(0.75rem + 1vw);
    }
    .item-work__content {
        padding: 1em;
    }

    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 681px) {
    .work {
        grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
    }
    .item-work:nth-child(7) {
        grid-column: span 2;
    }
    .shop__images {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
    .item-shop {
        min-height: calc(100vw / 3);
    }
}

@media screen and (max-width: 540px) {
    .navigation {
        display: block;
        top: -100%;
        transition: 0.5s;
    }
    .logo__link {
        display: block;
        position: absolute;
        top: 2em;
        left: 2em;
    }
    .menu-icon {
        position: absolute;
        top: 2em;
        right: 2em;
        width: 2em;
        height: 2em;
        cursor: pointer;
        z-index: 1;
        transition: 0.5s;
    }
    
    .menu-icon span {
        display: block;
        position: absolute;
        height: 0.35em;
        width: 100%;
        background: var(--c-gray);
        border-radius: 0.5em;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    
    .menu-icon span:nth-child(1) {
        top: 0;
    }
    
    .menu-icon span:nth-child(2), 
    .menu-icon span:nth-child(3) {
        top: 0.6em;
    }
    
    .menu-icon span:nth-child(4) {
        top: 1.2em;
    }
    .menu-open {
        position: absolute;
        top: 0;
        left: 0;
        padding-bottom: 3em;
        background-color: var(--c-dark-gray);
        opacity: 0.95;;
        z-index: 1;
    }
    .menu-open li {
        text-align: center;
    }
    .menu-open li a {
        color: #fff;
        font-size: 0.7rem;
    }
    .menu-open li .item-navigation__dot {
        display: block;
        margin: initial;
    }
    .menu-open+.menu-icon span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    
    .menu-open+.menu-icon span:nth-child(2) {
        transform: rotate(45deg);
    }
    
    .menu-open+.menu-icon span:nth-child(3) {
        transform: rotate(-45deg);  
    }
    
    .menu-open+.menu-icon span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 2em;
    }
    .footer__social {
        margin-top: 1em;
    }
}

@media screen and (max-width: 440px) {
    :root {
        font-size: calc(0.9rem + 1vw);
    }
    .item-work:nth-child(1), 
    .item-work:nth-child(4),
    .item-work:nth-child(7) {
        grid-column: span 1;
    }
    .item-shop {
        min-height: calc(100vw / 2);
    }

    .contact__form {
        flex-direction: column;
        align-items: center;
        padding: 0 1em;
    }
    .contact__form-mail {
        box-sizing: border-box;
        width: 100%;
    }
    .contact__button_go {
        padding: 1em 3em;
    }
}

@media screen and (max-width: 340px) {
    .item-shop_long {
        grid-column: span 1;
    }
}